html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
 
  background-image: linear-gradient(rgba(224, 242, 228, 0.8), rgba(224, 242, 228, 0.8)), url('/images/wooden-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 968px) {
  body {
    
  
    background-attachment: scroll;
    background-size: 100% 100%;
    background-position: center;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Neutrals */
  --color-off-white: #f7f7f2;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent-white: #fff0; /* transparent */

  /* Golds / Browns */
  --color-gold: #d9b57d;
  --color-gold-light: #cbc0ad;
  --color-border-soft: #f8f7f3;
  --color-tertiary-brown: #867f78;
  --color--dark: #312306;

  /* Greens */
  --color-green: #47614d; /* brand--green */
  --color-green-soft: #cef5ca; /* system success background */
  --color-success-text: #114e0b;
  --color-green-dark:  #40513B;

  /* Yellows */
  --color-yellow-soft: #fcf8d8; /* system warning background */
}
